<div class="container-fluid">
<h1>About Our Blog</h1>

<p>This is Totaly Web Based Application Which Is Developed Using Ruby Rails With The Help Of Mr Arif </p>
<%= link_to t('.back', :default => t("helpers.links.back")),
              blogs_path, :class => 'btn btn-default'  %>
</div>