<div class="container">
<h1>Welcome To Laitkor</h1>


<p>Laitkor Infosolutions Pvt Ltd in Indira Nagar Lucknow, Lucknow listed under Computer Software Developers with Address, contact number, reviews & ratings.</p>
<%= link_to t('.back', :default => t("helpers.links.back")),
              blogs_path, :class => 'btn btn-default'  %>
</div>