<div class="container">
<h1>Welcome To Laitkor</h1>


<p>Name: Ranvijay Singh</p>
<p>Address :London,UK</p>
<%= link_to t('.back', :default => t("helpers.links.back")),
              blogs_path, :class => 'btn btn-default'  %>
</div>